@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

header,
nav,
footer,
section,
article,
aside {
  display: block;
}